@font-face {
    font-family: 'Arcade';
    src: url('Arcade.otf');
}

body {
    background-color: #4a4270;
    color: white;
    font-family: 'Arcade', sans-serif !important;
}

#game-header {
    text-align: center;
    font-size: 10vh;
    margin: 20px;
}

p {
    font-size: xx-large;
}

#game-container {
    text-align: center;
    min-height: 50vh;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    color: #ccc;
    font-size: xx-large;
}

button {
    padding: 15px;
    margin: 15px;
    background-color: white;
    /* Green */
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Arcade', sans-serif !important;
    font-size: x-large;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    #game-header {
        font-size: 8vh;
    }
    p {
        font-size: x-large;
    }
    button {
        font-size: large;
    }
}
