@font-face {
  font-family: 'Arcade';
  src: url('Arcade.otf');
}

#game-board {
  display: flex;
  height: fit-content;
  flex-direction: row;
  font-family: 'Arcade', sans-serif !important;
  flex-wrap: wrap; 
}

.card {
  min-width: 100px;
  min-height: 100px;
  background-color: white;
  color: black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
}

.match {
  background-color: #0a970a;
}

@media (max-width: 768px) {
  .card {
    width: 80px;
    height: 80px;
    font-size: 20px;
    margin: 5px;
  }
}
