#game-board{
  display: flex;
  flex-direction: row;
  font-family: 'ArcadeClassic', sans-serif !important;
}
.card {
  width: 100px;
  height: 100px;
  background-color: white;
  color: black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
}

.match {
  background-color: #0a970a; 
}