#game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Add this line */
  align-items: center;
}
@font-face {
    font-family: 'Arcade';
    src: url('Arcade.otf');
}

input[type="text"] {
    padding: 15px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 20%;
    font-family: 'Arcade', sans-serif !important;
    font-size: x-large;
}